@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  color: hsl(215, 51%, 70%);
  background-color: hsl(217, 54%, 11%);
}

.card {
  width: 385px;
  height: 680px;
  background-color: hsl(217, 54%, 10.6%);
  margin: 0 auto;
  padding-top: 26px;
  border-radius: 50px;
}

.card__content {
  background-color: hsl(216, 50%, 16%);
  width: 349px;
  height: 615px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  position: relative;
}

.card__eq-image {
  width: 301px;
  height: 304px;
  margin: 24px 26px 33px 26px;
  border-radius: 10px;
  position: relative;
}

.card__container {
  margin-left: 26px;
  position: relative;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

p {
  display: inline;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.card__ETH-image {
  position: relative;
  top: 3px;
  left: -3px;
}

.card__ETH-text {
  font-weight: 400;
  color: hsl(178, 100%, 50%);
}

.card__clock-image {
  position: absolute;
  left: 200px;
  bottom: 72px;
}

.card__clock-text {
  position: absolute;
  right: 20px;
  font-weight: 400;
}

hr {
  border: none;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  width: 300px;
}

.card__image-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  bottom: -3px;
}

.card__image-text {
  position: relative;
  left: 50px;
  bottom: 2px;
}

span {
  color: white;
}

h2,
span,
.image {
  cursor: pointer;
}

h2:hover,
span:hover {
  color: hsl(178, 100%, 50%);
}

.card__eye-image-container {
  position: absolute;
  bottom: 46.7%;
  margin-right: 26px;
  margin-left: 26px;
  width: 301px;
  height: 304px;
  border-radius: 10px;
  background-color: hsl(178, 100%, 50%, 50%);
  opacity: 0;
}

.card__eye-image-container:hover {
  cursor: pointer;
  opacity: 1;
}

.card__eye-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.attribution {
  font-size: 14px;
  text-align: center;
  padding-top: 50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
